main {
    border: 2px solid green;
    height: 500px;
}

.flex-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px; 
    border: 2px dashed purple;
}

.flex-container > div {
    margin: 20px;
    background-color: pink;
    padding: 30px;
    border: 1px solid red;
    font-size: 30px;
    color: blue;
}